@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">PAGINA PRINCIPAL</h1>
		<p class="lead">Programa que lleva el control de los aviones dentro del Portaviones</p>        
    </section>

	<div class="row">
		<section class="col-md-3" aria-labelledby="librariesTitle">
			<h2 id="librariesTitle">Ingreso de Aviones</h2>
			<p>Proceso para recibir nuevos aviones que se incorporan al portaviones.</p>
			<p><a class="btn btn-outline-dark" href="@Url.Action("Ingreso", "Home")">Ingresar &raquo;</a></p>
		</section>
		<section class="col-md-3" aria-labelledby="librariesTitle">
			<h2 id="librariesTitle">Retiro de Aviones</h2>
			<p>Cuando los aviones se han vuelto obsoletos y son inhabilitados.</p>
			<p><a class="btn btn-outline-dark" href="@Url.Action("Retiro", "Home")">Ingresar &raquo;</a></p>
		</section>
		<section class="col-md-3" aria-labelledby="hostingTitle">
			<h2 id="hostingTitle">Listar Inventario de Aviones</h2>
			<p>Permite ver la lista de aviones agrupados por modelos en orden alfabeticos.</p>
			<p><a class="btn btn-outline-dark" href="#">Ingresar &raquo;</a></p>
		</section>
		<section class="col-md-3" aria-labelledby="hostingTitle">
			<h2 id="hostingTitle">Despegue y Aterrizaje</h2>
			<p>Pantalla que muestra el registro de Despegues y Aterrizajes.</p>
			<p><a class="btn btn-outline-dark" href="#">Ingresar &raquo;</a></p>
		</section>
	</div>

	
</main>